body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(black, #48454c);
    background-position: center; 
  background-repeat: no-repeat;  
  background-size: 100%; 
  image-rendering: crisp-edges;
  background-attachment: fixed;
  padding-bottom: 50px;
}

h1 {
    color: rgb(181, 28, 181);
    text-align: center;
}

p {

    color: lightgray;
}
h2 {

    color: rgb(181, 28, 181);;
    text-align: center;

}
div {
    color: lightgray;
    text-align: center;
}
a {
    text-align: center;
}
.keski{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
  }
  a {
    color: whitesmoke;
  }
a:hover {
    background-color: darkgray;
    color: black;



}
/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: darkmagenta;
  color: darkgray;
}
.portcont1 img, .portcont2 img, .portcont3 img, .portcont4 img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}
.portcont1 {
  width: 300px;                 
  height: 130px;                
  border: 2px solid black;    
  display: flex;              
  justify-content: center;
  align-items: center;
  overflow: hidden;           
  position: absolute;
  top: 150px;                     
  right: 100px;            
}

.portcont1 img {
  width: 100%;               
  height: auto;              
  object-fit: cover;         
}
.etulinkki {
  
    border: 2px solid darkmagenta;  
    padding: 5px 10px;        
    display: inline-block;    
    text-decoration: none;    
    color: whitesmoke;             
    border-radius: 5px;       


}
.portcont2 {
  width: 300px;                 
  height: 150px;                
  border: 2px solid black;    
  display: flex;              
  justify-content: center;
  align-items: center;
  overflow: hidden;           
  position: absolute; 
  top: 400px;                     
  right: 100px;   
  box-sizing: border-box;         
}

.portcont2 img {
  max-width: 100%;               
  height: auto;              
  object-fit: cover;         
}
.portlink1 {
  position: absolute; 
  right: 230px;
  top: 300px;
}
.portlink2{
  position: absolute; 
  right: 230px;
  top: 545px;
}
.footer {
  position: relative; 
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #48454c;
  color: white;
  text-align: left;
}
.topkuva{
  position: absolute;
  width: 75px;
  height: 75px;
 top: -5px;
  overflow: hidden;

  left: 300px;
}
.portcont3{
  width: 300px;                 
  height: 150px;                
  border: 2px solid black;    
  display: flex;              
  justify-content: center;
  align-items: center;
  overflow: hidden;           
  position: absolute; 
  top: 400px;                     
  left: 100px;   
  box-sizing: border-box; 
}
.portcont3 img{
  max-width: 100%;               
  height: auto;              
  object-fit: cover;
}
.portcont4 {
  width: 300px;                 
  height: 150px;                
  border: 2px solid black;    
  display: flex;              
  justify-content: center;
  align-items: center;
  overflow: hidden;           
  position: absolute; 
  top: 150px;                     
  left: 100px;   
  box-sizing: border-box;
}

.portcont4 img {
  max-width: 100%;               
  height: auto;              
  object-fit: cover;         
}
.portlink3{
  position: absolute; 
  left: 230px;
  top: 545px;
}
.portlink4{
  position: absolute; 
  left: 230px;
  top: 300px;
}
.porttext{
  text-align: center;
}